.icons {
    display: flex;
    height: 75%;
    gap: 5px;
    width: auto;
}

i {
    font-size: 22px;
    color: gray;
    cursor: pointer;
}

i:hover {
    color: white;
}

#display {
    color: white;
}