<div class="header-contact">    
    <div class="buttons-contacts">
        <button class="contact">
            <i class="bi bi-telephone-fill"></i>
            <p>+1 718-999-3939</p>
        </button>
        <button class="contact">
            <i class="bi bi-geo-alt-fill"></i>
            <p>514 S. Magnolia St. Orlando, FL 32806</p>
        </button>
    </div>

    <div class="buttons-conections">
        <button class="conection">
            <i class="bi bi-facebook"></i>
        </button>
        <button class="conection">
            <i class="bi bi-twitter"></i>
        </button>
        <button class="conection">
            <i class="bi bi-instagram"></i>
        </button>
        <button class="conection">
            <i class="bi bi-google"></i>
        </button>
    </div>
</div>