.header-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #f0eeee93;
}

.header-logo {
  display: flex;
  flex: 0 0 36%;
  min-width: 0;
  background-color: white;

  clip-path: polygon(
    0 0,
    95% 0,
    100% 100%,
    0 100%
  );
}

.header-right {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
}

.header-contact,
.header-navigation {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}