<div class="header-top">
    <button class="back-button">
        <i class="bi bi-caret-left-fill"></i>
        <p>Plantilla de sitio web HTML de varias páginas de Pizza House</p>
    </button>

    <div class="devices">
        <i class="bi bi-phone"></i>
        <i class="bi bi-tablet"></i>
        <i class="bi bi-display" id="display"></i>
    </div>

    <div class="buttons-header">
        <button id="add-cart">
            <i class="bi bi-cart2"></i>
            <p>Añadir al Carrito</p>
        </button>
        <button id="downloads">
            <p>Obtener descargas ilimitadas</p>
        </button>
        <button id="cart">
            <i class="bi bi-cart2"></i>
        </button>
        <button id="up">
            <i class="bi bi-caret-up-fill"></i>
        </button>
    </div>
</div>